@tailwind base;
@tailwind components;
@tailwind utilities;
body,
html {
	height: 100%;
	width: 100%;
	overflow-x:hidden
}
@media screen and (max-width: 767px) {
	input, select, textarea {
		font-size: 16px;
	}
}
